.container {
  margin: 3% !important;
  margin-top: 0%;
}

.card {
  padding: 20px !important;
}

.token-card {
  margin-top: 1%;
}

.card-description-text {
  font-size: 14px;
}

.card-donate-button {
  background-color: #3ec0d6 !important;
}

.modal-footer {
  justify-content: center !important;
}

.modal-footer:hover {
  /* background-color: #ffcd47 !important; */
}
.errorMessage {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e06969;
}
.modal-payment-options {
  text-align: center;
}

.modal-payment-options button, a {
  margin-top: 10px;
}
