.container {
  margin: 3% !important;
  margin-top: 0%;
}

.card {
  padding: 20px !important;
}

.token-card {
  margin-top: 1%;
}

.card-description-text {
  font-size: 14px;
}

.card-donate-button {
  background-color: #3ec0d6 !important;
}

.modal-footer {
  justify-content: center !important;
  color: white;
}

.modal-footer:hover {
  background-color: #ffcd47 !important;
}
