.container {
  margin: 3% !important;
  margin-top: 0%;
}

.card {
  padding: 20px !important;
}

.center-text {
  text-align: center;
}

.alert-visible {
  top: 0;
  position: fixed !important;
  z-index: 8;
  background-color: #3ec0d6 !important;
  border-color: #3ec0d6 !important;
  color: white !important;
  margin-left: 2% !important;
}

.card-body button {
  margin-left: 25%;
}

.token-card {
  margin-top: 1%;
}

.token-card .card {
  min-height: 500px;
}

.card-description-text {
  font-size: 14px;
}

.card-donate-button {
  background-color: #3ec0d6 !important;
}

.modal-footer {
  justify-content: center !important;
}

.modal-footer:hover {
  /* background-color: #ffcd47 !important; */
}
.errorMessage {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e06969;
}
.modal-payment-options {
  text-align: center;
}

.modal-payment-options button, a {
  margin-top: 10px;
}
