.navbar {
  background-color: black !important;
}

.give-button {
  margin-top: 2px;
  margin-bottom: 3px;
  margin-left: 7px;
}

.navbar a {
  color: white !important;
}

.navbar-brand {
  padding-left: 40px;
}

.navbar a:hover {
  color: #DCDCDC !important;
}

.navbar-nav {
  padding-right: 30px;
}

.landing-info {
  color: white;
  padding-left: 3%;
  padding-top: 18%;
  max-width: 40%;
  font-family: 'Bevan';
}

.hero-title {
  font-family: 'Bevan';
}
