.custom-nav {
  background-color: #FBFDFF !important;
}

.custom-nav a {
  color: #767676;
  padding-left: 40px;
}

.navbar-nav {
  padding-right: 30px;
}

.custom-nav a:hover {
  color: gray;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: 'Bevan', Georgia;
}

.hero-title {
  font-weight: bold;
}
