.image {
   background: url('../../assets/landing_dog_image.jpg') no-repeat center center;
   background-size: cover;
   height: 700px;
   margin-top: -20px;
}

.muttville-outline-color-button {
  color: black !important;
  border-color: black !important;
}

.yellow-background {
  background-color: #FDBF15;
}

.step-description {
  margin: auto;
  padding-top: 10px;
  margin-left: 20px;
}

.padded-container {
  padding: 0% 5%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.call-to-action-row {
  margin: 0 !important;
}

.faq-section {
  padding-left: 18%;
  font-size: 14px;
}

.md-padding-top {
  padding-top: 30px;
}

.call-to-action-container {
  background-color: #FDBF15;
}

.footer {
  background-color: #FDBF15;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.footer h1 {
  padding-bottom: 10px;
  font-family: 'Bevan';
}

.gray {
  background-color: rgba(245,245,245,1);
  padding: 5% 0 5% 0;
}

.white {
  background-color: white;
  padding: 5% 0 5% 0;
}

.center {
  text-align: center;
}

.header {
  font-family: 'Bevan', georgia, serif;
}

.chrome-logo {
  padding-left: 5px;
}

.eth-logo {
  padding-left: 12px;
}

.dog-logo {
  padding-left: 15px;
}

.friend-logo {
  padding-left: 5px;
}
