

.image {
   background-color: #FBFDFF;
   background: url('../../assets/dog-landing.jpeg') no-repeat center center;
   background-size: cover;
   height: 700px;
   opacity: 0.5;
   margin-top: -20px;
}

.about {
  background-color: white;
}


/* background-color: rgba(245,245,245,1); */
